.acceso {
    display: flex;
    flex-direction: column;
}

#registrarse {
    display: flex;
    flex-direction: column;
    margin: 25px;
    padding: 25px;
}

#iniciar-sesion {
    display: flex;
    flex-direction: column;
    margin: 25px;
    padding: 25px;
}

