.acceso {
    display: flex;
    flex-direction: column;
}

#registrarse {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}

#iniciar-sesion {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}

