/* INDEX */

.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    padding: 20px;
    grid-gap: 10px;
    background: linear-gradient(rgb(8, 6, 6),rgba(8, 109, 75, 0.781));
    
    .gallery__item {
        position: relative;
        overflow: hidden;
        .gallery__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scale(1);
            transition: all 2s ease-in;
            &:hover{
                transform: scale(1.15);
                box-shadow: 0 0 25px rgb(102, 102, 102);
                transition: 1s;
                scroll-behavior: $scrollbehavior;
                
            }
        }
        
        .gallery__title{
            position: absolute;
            bottom: 0;
            color: aquamarine;
            background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,1));
            width: 100%;
            margin: 0;
            padding: $padding;
        }
        &:nth-child(1) {
            grid-column-start: span 2;
        }

        &:nth-child(5) {
            grid-row-start: span 2;
        }
        &:nth-child(5) {
            grid-row-start: span 2;
        }


        @media screen and (max-width: 428px) {
            &:nth-child(1) {
                grid-column-start: span 3;
            }
            &:nth-child(2) {
                grid-column-start: span 3;
            }
            &:nth-child(3) {
                grid-column-start: span 3;
            }
            &:nth-child(4) {
                grid-column-start: span 3;
            }
            &:nth-child(5) {
                grid-column-start: span 3;
            }
            &:nth-child(6) {
                grid-column-start: span 3;
            }
            &:nth-child(7) {
                grid-column-start: span 3;
            }
        }
    }
}

.aumentar {
    transition: transform 0.5s ease-in;
      transition-property: transform;
      transition-duration: 0.5s;
      transition-timing-function: ease-in;
      transition-delay: 0s;
}

.navbar-dark .navbar-toggler {
    margin: 5px;
    padding: 5px;
}

/* FIN INDEX */