/* VARIABLES DE OPERACIONES */
$colorfuenteprincipal: #00eebada;
$estilofuenteprincipal: normal;
$fuenteprincipal: 'Fredoka One', cursive;
$sizefuenteprincipal: 13px;
$textdeco: none;
$textshadow: 0 0 0.2em black, 0 0 0.2em black, 0 0 0.2em black;
$margin: 10px;
$padding: 10px;
$boxsizing: border-box;
$scrollbehavior: smooth;
$background: black;