@import "variables";
@import "general";
@import "inicio";
@import "materiales";
@import "contacto";
@import "disenos3d";
@import "impresiones3d";

.navbar-dark .navbar-brand {
    color: $colorfuenteprincipal;
  }

.nav-link {
    color: $colorfuenteprincipal;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show > .nav-link {
    color: $colorfuenteprincipal;
}

body {
    background-color: $background;
}

img, svg {
    background-color: transparentize($color: #02ad96, $amount: 0);
  }